/* GENERAL */
body{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

/* UTILITIES */
/* debug */
.debug{
    background-color: coral;
    border: 1px solid black;
}

.alt-d-flex{
    display: flex;
}

.alt-ul-remove{
    list-style: none;
}

.alt-a-remove{
    text-decoration: none;
}

/* HEADER */
header{
    height: 55px;
}

header nav div a:nth-child(1){
    width: 32px;
}

header ul li a{
    text-decoration: none;
}

.alt-header-bg{
    background-color: white;
}

.alt-form-width{
    width: calc(80% - 1rem);
}

.alt-remain-width{
    width: 10%;
}

header nav form{
    height: 100%;
}

header nav form input{
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
    border-radius: 4px;
    height: 100%;
    padding-left: 25px;
}

header nav form .alt-in-search-bar{
    float: left;
    position: relative;
    margin-top: -25px;
    margin-left: 5px;
    z-index: 2;
}

/* ASIDE */
aside{
    font-family: 'Poppins', sans-serif;
    height: calc(100vh - 55px);
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
}

aside ul li a{
    text-decoration: none;
    font-size: 0.9rem;
}

aside ul li a i{
    margin-right: 5px;
    font-size: large;
}

/* MAIN */
main{
    height: calc(100vh - 55px);
    overflow: auto;
}

/* prossime classi section */
main .alt-small-offcanvas{
    display: inline-block;
}

main .alt-class-section img{
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.alt-badge-text-size{
    font-size: 0.9rem;
}

main .alt-width-big{
    width: 40%;
}

main .alt-width-small{
    width: 15%;
    min-width: 105px;
}

main .alt-dim-btn{
    width: 40px;
    height: 40px;
}

/* faq section */
/* card with checkbox */
/* card with img */
main .alt-card-img-section img{
    width: 100%;
}

/* media quary */
@media screen and (min-width: 768px) {
    main .alt-offcanvas{
        display: inline-block;
    }
    main .alt-small-offcanvas{
        display: none;
    }
}

